.tetris{
    display: flex;
    align-items: flex-start;
    padding: 15px;
    bottom: 15px;
    margin: 0 auto;
}

aside{
    width: 100%;
    max-width: 90px;
    display: block;
    padding: 0px 30px;
    background-color: #333;
    opacity: 0.8;
    margin-right: 10px;
}

.tetrisWrapper{
    height: 580px;
    width: 550px;
    backdrop-filter: blur(5px);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    border: 0.3px solid #fff;
    margin: 2rem auto;
}

.timer{
    height: 50px;
    width: 80px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-top: 25px;
    border-radius: 20px;
    color: white;
    background: transparent;
    font-size: 5rem;
    margin-left: 140px;
    margin-bottom: 100px;
}

.timer p{
        margin-top: -60px;
}