.header .primary_text {
    text-align: center;
}

.header {
    margin: 5rem 0 3rem 0;
    color: white;
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 1px;
}

.primary_text{
    color: white;
    font-size: 1rem;
    line-height: 1.1;
}

.username_input {
    border: 1px solid white;
    background-color: whitesmoke;
    outline: 0;
    width: 50%;
    padding: 1rem;
    border-radius: 5px;
    display: block;
    margin: 2px auto 5rem auto;
    font-size: 1rem;
}

.start_btn {
    border: 0;
    outline: 0;
    width: 60%;
    padding: 1rem;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
    margin: 2rem auto;
}

.top_score {
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: white;
}



.modal .form-control {
    height: 45px;
    border-radius: 3px;
}

.quote-container{
    border: 0;
    outline: 0;
    width: 30%;
    height: 40%;
    padding: 0.5rem;
    color: #540403;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
    margin: 2rem auto;
    border: 10px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 5rem;
}


@media screen and (max-width:450px) {
    .header {
        font-size: 1rem;
    }
    .primary_text{
        font-size: 0.5rem;
    }
    .start_btn {
        width: 40%;
        padding: 0.5rem;
        font-size: 0.4rem;
        letter-spacing: 1px;
        display: block;
        margin: -2rem auto;
    }
    .top_score {
        font-size: 0.5rem;
        bottom: 0.5rem;
        right: 0.5rem;
    }
    
}
